<div class="col-lg-8 max-auto">
  <div class="card shadow">
    <div class="card-header">
      <h1>Editing user</h1>
    </div>
    <div class="card-body">
      <%= render "form", user: @user %>
    </div>
  </div>
</div>