<p style="color: green"><%= notice %></p>
<div class="col-lg-8 max-auto">
  <h1>Users</h1>
  <%= link_to "Create new User", new_user_path, class: "btn btn-primary mb-3" %>
  <div id="users">
    <% @users.each do |user| %>
      <div class="card shadow mb-3">
        <div class="card-body">
          <%= render user %>
          <p>
            <%= link_to "Show this user", user, class: "btn btn-primary" %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
